<!DOCTYPE html>

{# importing global macros #}
{% from "macros/center_main.html" import center_main %}


<html lang="en">
<head>
    <meta charset="UTF-8" >
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

    {# including javascript, css files, #}
    {% include "head-files.html" %}


    <!--  showing the APP_NAME environment variable  -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <title>{% block title %} {% endblock %} - {{ config.APP_NAME }}</title>
</head>
<body>
    <div id="root">
        <header id="header" class="overflow-hidden py-4 backdrop-blur-md bg-white bg-opacity-20 fixed z-10 top-0 left-0 right-0 flex justify-center items-center">
            <nav class="container flex justify-between items-center">
              <a href="/">
                <img src="{{ url_for('static', filename='vang-trong.png') }}" class="w-32 sm:w-48">
              </a>

              <div class="flex justify-between items-center gap-5">
                <a href="{{ url_for('auth.register') }}" id="btn-header"
                    class="btn inline-block bg-primary-dark text-white
                    py-3 px-14 shadow-lg rounded text-center min-w-fit
                    font-medium">
                    Đăng ký làm đại sứ
                </a>
                  <a href="{{ url_for('auth.login')}}" class="btn text-primary bg-white font-semibold rounded px-8 py-3">Đăng nhập</a>
              </div>
            </nav>
        </header>


        <main id="main" class="flex flex-col flex-auto">
            {# the "flash.html" have to placed inside the #main, because only the #main (& #nav) would be appended from ajax calls. #}
            {% include "flash.html" %}
            {% block content %} {% endblock %}
        </main>


        <footer id="footer" class="text-center bg-primary-dark text-white font-light px-9 py-3">
            <h4 class="container text-xs sm:text-base">
                Copyright &copy; 2021 - Trường Đại học Bà Rịa - Vũng Tàu
            </h4>
        </footer>
    </div>

    
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            headerHeight = document.getElementById('header').clientHeight;
            //document.getElementById('main').style.paddingTop = `${headerHeight + 30}px`;
        });
    </script>


    <!--  base  -->
    <link rel="stylesheet" href="{{ url_for('static', filename='app/dist/css/app.css') }}">
    <script type="module" src="{{ url_for('static', filename='app/dist/js/base.js') }}"></script>
</body>
</html>
