<!DOCTYPE html>

{# importing global macros #}
{% from "macros/center_main.html" import center_main %}
{% from 'macros/form_field.html' import form_field %}
{% from 'macros/paginator.html' import paginator %}

<html lang="en">
<head>
    <meta charset="UTF-8" >
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

    {# including javascript, css files, #}
    {% include "head-files.html" %}


    <!--  showing the APP_NAME environment variable  -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <title>{% block title %} {% endblock %} - {{ config.APP_NAME }}</title>
</head>

<script>
    Alpine.data('qrcodeModal', () => ({
        qrOpen: false,
        toggle() {
            this.qrOpen = ! this.qrOpen;
        }
    }));
</script>

<body class="overflow-hidden"x-data="qrcodeModal" >
    <div x-show="qrOpen" class="qrcode-modal fixed z-50
        w-screen h-screen overflow-auto flex justify-center items-center p-20
        bg-black bg-opacity-50 backdrop-blur-md">
        <div x-show="qrOpen" x-transition.duration.500ms class="qrcode-modal-content bg-white flex flex-col gap-5"
            style="min-height: 300px; min-width: 800px;">
            <div class="qrcode-modal-header p-7 py-4 flex items-center justify-between">
                <h1 class="text-xl font-bold">Chia sẻ mã QR.</h1>
                <button @click="qrOpen = false">
                    <img src="{{ url_for('static', filename='icons/outline/close-outline.svg') }}" class="w-8">
                </button>
            </div>

            <div class="qrcode-modal-body flex-auto px-7 pb-7 flex gap-10">
                <div class="border border-gray-200 p-3 shadow-xl" style="flex-basis: 200px;" id="qrcode-canvas">
                </div>
                <script type="text/javascript">
                    const qrCode = new QRCodeStyling({
                        "width": 300,
                        "height": 300,
                        "data": "{{ current_user.email }}",
                        "margin": 0,
                        "qrOptions": {
                            "typeNumber": "0",
                            "mode": "Byte",
                            "errorCorrectionLevel": "Q"
                        },
                        "imageOptions": {
                            "hideBackgroundDots": true,
                            "imageSize": 0.4,
                            "margin": 0
                        },
                        "dotsOptions": {
                            "type": "classy-rounded",
                            "color": "#013364"
                        },
                        "backgroundOptions": {
                            "color": "#ffffff"
                        },
                        "image": "{{ url_for('static', filename='logo.png') }}",
                        "dotsOptionsHelper": {
                            "colorType": {
                                "single": true,
                                "gradient": false
                            },
                            "gradient": {
                                "linear": true,
                                "radial": false,
                                "color1": "#6a1a4c",
                                "color2": "#6a1a4c",
                                "rotation": "0"
                            }
                        },
                        "cornersSquareOptions": {
                            "type": "",
                            "color": "#013364",
                            "gradient": null
                        },
                        "cornersSquareOptionsHelper": {
                            "colorType": {
                                "single": true,
                                "gradient": false
                            },
                            "gradient": {
                                "linear": true,
                                "radial": false,
                                "color1": "#000000",
                                "color2": "#000000",
                                "rotation": "0"
                            }
                        },
                        "cornersDotOptions": {
                            "type": "",
                            "color": "#013364"
                        },
                        "cornersDotOptionsHelper": {
                            "colorType": {
                                "single": true,
                                "gradient": false
                            },
                            "gradient": {
                                "linear": true,
                                "radial": false,
                                "color1": "#000000",
                                "color2": "#000000",
                                "rotation": "0"
                            }
                        },
                        "backgroundOptionsHelper": {
                            "colorType": {
                                "single": true,
                                "gradient": false
                            },
                            "gradient": {
                                "linear": true,
                                "radial": false,
                                "color1": "#ffffff",
                                "color2": "#ffffff",
                                "rotation": "0"
                            }
                        }
                    });
                    qrCode.append(document.getElementById("qrcode-canvas"));
                </script>

                <div class="flex-auto flex flex-col justify-between gap-7">
                    <div class="flex flex-col gap-1">
                        <h1><span class="select-none">Tên đại sứ: </span><span class="font-semibold">{{ current_user.full_name }}</span></h1>
                        <h1><span class="select-none">Email: </span><span class="font-semibold">{{ current_user.email }}</span></h1>
                        <h1><span class="select-none">Số điện thoại: </span><span class="font-semibold">{{ current_user.phone_number }}</span></h1>
                    </div>

                    <!-- stats -->
                    <div class="flex items-center gap-6">
                        <div class="p-2 px-4 border border-purple-100 bg-purple-50 text-purple-500 font-medium">
                            {{ current_user.user_admissions | length }} admissions
                        </div>
                        <!-- students counter -->
                        <div class="p-2 px-4 border border-green-100 bg-green-50 text-green-500 font-medium">
                            {{ current_user.user_admissions | length }} students
                        </div>
                    </div>
                    
                    <div class="flex flex-col justify-end">
                        <span class="pb-1">Username đại sứ:</span>
                        <div class="relative outline-2 border border-gray-400 border-opacity-20 shadow-xl overflow-hidden pr-10">
                            <input type="text" readonly value="{{ current_user.email }}"
                                class="py-2 px-4 w-full font-semibold text-primary focus:outline-none">
                            <button class="p-2 px-4 h-full absolute right-0 top-1/2 -translate-y-1/2 hover:bg-gray-200">
                                <img src="{{ url_for('static', filename='icons/outline/copy-outline.svg') }}" class="w-5">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="root" class="root user flex">
        {% block begin_body %}{% endblock begin_body %}
        {{  SidebarComponent() | safe }}

        <div id="" class="flex-1 flex flex-col overflow-auto h-screen">
            <script>
                Alpine.data('headerDropdown', () => ({
                    open: false,
                    toggle() {
                        this.open = ! this.open;
                    }
                }));
            </script>
            
            <header x-data="headerDropdown"
                class="header sticky z-10 top-0 px-10
                border-b border-gray-200 
                bg-white bg-opacity-80 backdrop-blur-md
                flex justify-between">

                <!-- back button -->
                {% if request.path != '/' %}
                <button type="submit" @click="history.back()"
                    class=" px-4 flex items-center cursor-pointer h-full
                    absolute left-0 top-1/2 -translate-y-1/2 z-0"
                    data-tippy-content="Trang trước">
                    <img src="{{ url_for('static', filename='icons/fluent/outline/arrow_left.svg') }}" class="w-5">
                </button>
                {% endif %}

                
                <!-- left -->
                <div class="flex flex-row gap-10 text-primary pl-3">
                    <h1 class="font-bold font-sans text-base leading-none m-auto">
                        <!-- Xin chào, {{ current_user.last_name }} 👋 -->
                        {{ self.title() }}
                    </h1>
                </div>

                
                <!-- right -->
                <div class="flex justify-end items-stretch">
                    <!-- actions -->
                    <div class="flex justify-center items-center border-r border-gray-200">
                        {% block header_actions %} {% endblock %}
                    </div>

                    <!-- qr code -->
                    <div class="hover:bg-gray-200 p-2 px-4 flex items-center cursor-pointer" data-tippy-content="Mã QR code đến profile này"
                        @click="qrOpen = !qrOpen">
                        <img src="{{ url_for('static', filename='icons/fluent/outline/qr_code.svg') }}" class="w-5">
                    </div>
                
                    <!-- profile avatar -->
                    <div class="hover:bg-gray-200 p-2 px-4 flex items-center cursor-pointer" @click="open = true">
                        <img src="{{ url_for('auth.static', filename='default_user.jpg') }}" class="h-8 rounded-full select-none border border-gray-300">
                
                        <!-- dropdown -->
                        <!-- x-transition.duration.500ms
                        x-transition.scale
                        x-transition.scale.origin.top.center -->
                        <div x-show="open"
                            @click.outside="open = false"
                            class="user-modal absolute top-full right-0 shadow-lg bg-white cursor-auto border-t border-gray-200">
                            <!-- user meta -->
                            <div class="px-3 py-3 flex items-center gap-3">
                            <img src="{{ url_for('auth.static', filename='default_user.jpg') }}" class="w-20 rounded-full border border-gray-300">
                            <div class="flex flex-col">
                                <p class="font-bold">{{ current_user.full_name }}</p>
                                <p class="font-light text-sm pb-1">{{ current_user.email }}</p>
                                <p class="font-medium text-sm">{{ current_user.role.name }}</p>
                            </div>
                            </div>
                    
                            <!-- buttons -->
                            <div class="flex w-full divide-x divide-gray-200 bg-gray-100">
                            <a href="{{ url_for('auth.profile') }}" class="flex-1 text-sm px-3 py-2 font-light hover:bg-gray-200 text-center">Xem thông tin Hồ sơ</a>
                            <form method="post" action="{{ url_for('auth.logout') }}" class="">
                                <button type="submit" class="w-full cursor-pointer px-6 py-2 text-sm font-light hover:bg-gray-200">
                                Đăng xuất
                                </button>
                            </form>
                            </div>
                        </div>
                    </div>
                
                </div>
            </header>

            <!-- content -->
            <main id="main" class="flex flex-1 flex-col bg-gray-100 p-10 pt-8">
                {# the "flash.html" have to placed inside the #main, because only the #main (& #nav) would be appended from ajax calls. #}
                {% include "flash.html" %}
                {% block content %} {% endblock %}
            </main>
        </div>
    </div>


    <!--  base  -->
    <link rel="stylesheet" href="{{ url_for('static', filename='app/dist/css/app.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='app/dist/js/base.css') }}">
    <script src="{{ url_for('static', filename='app/dist/js/base.js') }}"></script>

</body>
</html>
