<!DOCTYPE html>

{# importing global macros #}
{% from "macros/center_main.html" import center_main %}
{% from 'macros/form_field.html' import form_field %}
{% from 'macros/paginator.html' import paginator %}

<html lang="en">
<head>
    <meta charset="UTF-8" >
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

    {# including javascript, css files, #}
    {% include "head-files.html" %}


    <!--  showing the APP_NAME environment variable  -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <title>{% block title %} {% endblock %} - {{ config.APP_NAME }}</title>
</head>

<script>
    Alpine.data('rootData', () => ({
        avatarOpen: false,
    }));
</script>

<body class="overflow-hidden" x-data="rootData" >

    <!-- ROOT -->
    {% block begin_body %}{% endblock begin_body %}
    <div id="root" class="root user flex">
        {{  SidebarComponent() | safe }}

        <div class="flex-1 flex flex-col overflow-auto h-screen">
            <header
                class="header sticky z-10 top-0 px-10
                border-b border-gray-200 
                bg-white bg-opacity-80 backdrop-blur-md
                flex justify-between">

                <!-- back button -->
                {% if request.path != '/' %}
                <button type="submit" @click="history.back()"
                    class=" px-4 flex items-center cursor-pointer h-full
                    absolute left-0 top-1/2 -translate-y-1/2 z-0"
                    data-tippy-content="Trang trước">
                    <img src="{{ url_for('static', filename='icons/fluent/outline/arrow_left.svg') }}" class="w-5">
                </button>
                {% endif %}

                
                <!-- left -->
                <div class="flex flex-row gap-10 text-primary">
                    <h1 class="font-bold font-sans text-base leading-none m-auto">
                        <!-- Xin chào, {{ current_user.last_name }} 👋 -->
                        {{ self.title() }}
                    </h1>
                </div>

                
                <!-- right -->
                <div class="flex justify-end items-stretch">
                    <!-- actions -->
                    <div class="flex justify-center items-center border-r border-gray-200">
                        {% block header_actions %} {% endblock %}
                    </div>
                
                    <!-- profile avatar -->
                    <div class="hover:bg-gray-200 p-2 px-4 flex items-center cursor-pointer" @click="avatarOpen = true">
                        <img src="{{ url_for('auth.static', filename='default_user.jpg') }}" class="h-8 rounded-full select-none border border-gray-300">
                
                        <!-- dropdown -->
                        <!-- x-transition.duration.500ms
                        x-transition.scale
                        x-transition.scale.origin.top.center -->
                        <div x-show="avatarOpen"
                            @click.outside="avatarOpen = false"
                            class="user-modal absolute top-full right-0 shadow-lg bg-white cursor-auto border-t border-gray-200">
                            <!-- user meta -->
                            <div class="px-3 py-3 flex items-center gap-3">
                            <img src="{{ url_for('auth.static', filename='default_user.jpg') }}" class="w-20 rounded-full border border-gray-300">
                            <div class="flex flex-col">
                                <p class="font-bold">{{ current_user.full_name }}</p>
                                <p class="font-light text-sm pb-1">{{ current_user.email }}</p>
                                <p class="font-medium text-sm py-1 px-4 border border-gray-300 w-fit">{{ current_user.role.name }}</p>
                            </div>
                            </div>
                    
                            <!-- buttons -->
                            <div class="flex w-full divide-x divide-gray-200 bg-gray-100">
                            <a href="{{ url_for('user.profile') }}" class="flex-1 text-sm px-3 py-2 font-light hover:bg-gray-200 text-center">Xem thông tin Hồ sơ</a>
                            <form method="post" action="{{ url_for('auth.logout') }}" class="">
                                <button type="submit" class="w-full cursor-pointer px-6 py-2 text-sm font-light hover:bg-gray-200">
                                Đăng xuất
                                </button>
                            </form>
                            </div>
                        </div>
                    </div>
                
                </div>
            </header>

            <!-- content -->
            <main id="main" class="flex flex-1 flex-col bg-gray-100 p-10 pt-8">
                {# the "flash.html" have to placed inside the #main, because only the #main (& #nav) would be appended from ajax calls. #}
                {% include "flash.html" %}
                {% block content %} {% endblock %}
            </main>
        </div>
    </div>


    <!--  base  -->
    <link rel="stylesheet" href="{{ url_for('static', filename='app/dist/css/app.css') }}">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='app/dist/js/base.css') }}"> -->
    <script src="{{ url_for('static', filename='app/dist/js/base.js') }}"></script>

</body>
</html>
