<!DOCTYPE html>

{# importing global macros #}
{% from "macros/center_main.html" import center_main %}


<html lang="en">
<head>
    <meta charset="UTF-8" >
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

    {# including javascript, css files, #}
    {% include "head-files.html" %}


    <!--  showing the APP_NAME environment variable  -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <title>{% block title %} {% endblock %} - {{ config.APP_NAME }}</title>
</head>
<body class="overflow-hidden">
    <div id="root" class="root user flex">
        {{  SidebarComponent() | safe }}

        <div id="" class="flex-1 flex flex-col overflow-auto h-screen">
            {{  HeaderComponent() | safe }}

            <main id="main" class="flex flex-1 flex-col bg-gray-100 p-10">
                {# the "flash.html" have to placed inside the #main, because only the #main (& #nav) would be appended from ajax calls. #}
                {% include "flash.html" %}
                {% block content %} {% endblock %}
            </main>
        </div>
    </div>


    <!--  base  -->
    <link rel="stylesheet" href="{{ url_for('static', filename='app/dist/css/app.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='app/dist/js/base.css') }}">
    <script src="{{ url_for('static', filename='app/dist/js/base.js') }}"></script>

</body>
</html>
