<div x-data="notificationDropdown()"
    data-tippy-content="Notifications"
    class="nav-user-notification
    cursor-pointer
    relative
    rounded-full
    shadow-sm
    border border-gray-200
    flex justify-center items-center
    bg-white p-1">

    <!-- the bell icon | dropdown trigger -->
    <div class="nav-icon-container h-5 w-5">
        <img src="{{ url_for('static', filename='icons/outline/notifications-outline.svg') }}">
    </div>

    <!-- counter -->
    <span class="nav-user-notification-count
                flex justify-center items-center
                absolute w-2.5 h-2.5 rounded-full p-0.5
                border-2 border-white
                text-white text-xs bg-red-500"
                style="bottom: 15px; left: 15px;"></span>

    <!-- actual dropdown -->
    <div class="nav-user-notification-dropdown absolute">

    </div>

</div>


<!-- alpinejs data -->
<script>
    function notificationDropdown() {
        return {
            _show: false,

            isOpen() {
                return this._show === true;
            },
            open() {
                this._show = true;
            },
            close() {
                this._show = false;
            },
            toggle() {
                this._show == !this._show;
            }
        };
    }
</script>
