{% macro password_field %}
<script>
  passwordFieldsQuery = '#signup-form .form-field .form-field-container[data-name*="password"] .form-field-prefix';
  passwordFields = $(passwordFieldsQuery);
  $(passwordFields).addClass('cursor-pointer');


  // binding the click event foreach password-like field
  $(passwordFields).each(function(index, elem) {
      $(this).click(function(e) {
          const theInput = $(this).next();

          const theImage = $(this).find('> img');
          const imageDefaultIcon = $(theImage).attr('data-original-icon');
          const imageAlternateIcon = $(theImage).attr('data-alternate-icon');

          if ($(theInput).attr('type') == 'text') {
              $(theInput).attr('type', 'password');
              $(theImage).attr('src', imageDefaultIcon);
          } else {
              $(theInput).attr('type', 'text');
              $(theImage).attr('src', imageAlternateIcon);
          }
      });
  });
</script>
{% endmacro %}
