@layer components {
  .btn {
    /* @apply focus:outline-none; */
    @apply rounded;
    transition: transform .35s;
    position: relative;
    overflow: hidden;

    &:hover {
      @apply bg-opacity-75;
      /* transform: translatey(-2px); */

      &::after {
        content: "";
        position: absolute;
        /* top: 50%; */
        bottom: 0;
        left: 0;
        right: 0;
        box-shadow: 0 7px 38px 0 rgb(0 0 0 / 31%);
      }
    }

    &.btn-highlight {
      &::before {
        content: "";
        position: absolute;
        /* top: 50%; */
        top: 0;
        left: 0;
        height: 100%;
        width: 20%;
        transform: skew(45deg, 0);
        /* clip-path: polygon(0 0, 75% 0, 100% 50%, 75% 100%, 0 100%, 0% 50%); */
        @apply bg-secondary;
      }
    }
  }
}
