<div id="nav-user-area"
    class="relative"
    data-tippy-content="Settings"
    x-data="userDropdown()">

    <!-- user dropdown menu trigger -->
    <div class="nav-user-area-avatar">
        <button @click="open()"
                class="
                bg-white
                flex justify-end items-center
                rounded-full shadow-sm
                border border-gray-200
                focus:outline-none">
            <p class=" px-4
               text-gray-500 text-sm font-semibold
               transition duration-300" style="">
                {{ vm.full_name }}
            </p>
            <img
                src="{{ url_for('static', filename=extract_avatar_url(vm.user.avatar_url)) }}"
                class="h-8 w-8 rounded-full object-cover">
        </button>
    </div>

    <!-- user dropdown actual menu -->
    <div x-show.transition.origin.top.right="isOpen()" @click.away="close()"
        class="nav-user-area-dropdown user
        flex flex-col justify-start align-start
        absolute z-50 right-0
        rounded-lg bg-white "
        style="top: 180%; min-width: 100px;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.04) 0px 0px 0px 1px;">


        <template x-for="group in dropdowns">
            <div class="menu-group">

                <template x-for="item in group">
                    <a :href="item.href"
                        class="py-2 px-4 pl-3 pr-14
                        flex justify-start items-center gap-2
                        text-gray-500 text-sm font-normal
                        transition duration-300
                        hover:bg-gray-100">
                        <span class="w-4 h-4" style="filter: invert(0.5);">
                            <img :src="item.icon">
                        </span>
                        <span x-text="item.title"></span>
                    </a>
                </template>
            </div>
        </template>

    </div> <!-- .nav-user-area-dropdown -->
</div>


<script>
    function userDropdown() {
        return {
            _show: false,

            dropdowns: [
                [
                    {
                        title: 'View profile',
                        href: "{{ url_for('auth.profile') }}",
                        icon: "{{ url_for('static', filename='icons/outline/scan-outline.svg') }}",
                    },
                ],
                [
                    {
                        title: 'Projects',
                        href: "{{ url_for('auth.profile') }}",
                        icon: "{{ url_for('static', filename='icons/outline/cube-outline.svg') }}",
                    },
                    {
                        title: 'Organizations',
                        href: "{{ url_for('auth.profile') }}",
                        icon: "{{ url_for('static', filename='icons/outline/business-outline.svg') }}",
                    },
                ],
                [
                    {
                        title: 'Settings',
                        href: "{{ url_for('auth.logout') }}",
                        icon: "{{ url_for('static', filename='icons/outline/hammer-outline.svg') }}",
                    },
                ],
                [
                    {
                        title: 'Sign Out',
                        href: "{{ url_for('auth.logout') }}",
                        icon: "{{ url_for('static', filename='icons/outline/exit-outline.svg') }}",
                    },
                ],
            ],

            isOpen() {
                return this._show === true;
            },
            open() {
                this._show = true;
            },
            close() {
                this._show = false;
            },
            toggle() {
                this._show == !this._show;
            }
        };
    }

    if (document.readyState === 'complete') {
        setATagNavigate();
    } else {
        document.addEventListener('DOMContentLoaded', () => {
            setATagNavigate();
        });
    }

    $('#btn-logout').click(function (e) {
        e.preventDefault();

        $.confirm('Are you sure you want to logout ?', () => {
            navigateTo('/logout');
        });
    });
</script>


<style>
    .nav-user-area-dropdown::after,
    .nav-user-area-dropdown::before {
        content: "";

        position: absolute;
        top: -7px;
        right: 15px;

        border-bottom: 7px solid #fff;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
    }
    .nav-user-area-dropdown::after {
        z-index: -1;
        top: -8.1px;
        right: 13.9px;

        border-bottom: 8px solid rgba(0, 0, 0, 0.1);
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
    }

    .menu-group {
        padding: 8px 0;
    }
    .menu-group:not(:last-of-type) {
        border-bottom: 1px solid #eee;
    }

    .menu-group a:hover {
        background-color: #eee;
        color: rgb(56, 56, 56);
    }
</style>
