{% extends "base.html" %}

{% block content %}
    {{ center_main() }}

    <form action="" method="post" enctype="multipart/form-data"
        id="profile-form"
        class="py-5 px-9 rounded-md"
        style="min-width: 300px; box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;">
        {{ form.csrf_token }}

        <div id="avatar-picker mb-9 flex justify-center">
            {{ form.avatar }}
        </div>

        {% for field in form if field.name != 'csrf_token' and field.name != 'avatar' %}
            <div class="form-field py-2">
                <div class="form-field-label pb-0.5 text-gray-700">{{ field.label(class="text-sm font-medium") }}</div>

                <div class="form-field-field relative flex">
                    {{ field(
                    class_="
                        transition
                        duration-300
                        w-full
                        border-2
                        border-gray-150
                        rounded-md
                        py-1 px-2
                        hover:bg-gray-100
                        focus:outline-none
                        focus:border-blue-400
                        focus:bg-white
                    ") }}

                    {% if field.name == 'email' %}
                        <script>
                            document.getElementById('{{ field.id }}').classList.add('cursor-not-allowed');
                        </script>
                    {% endif %}
                </div>

                <div class="form-field-errors-container">
                    {% if field.errors %}
                        <script>
                            // adding the following error style classes to the input's class attribute
                            document.getElementById('{{ field.id }}').classList.add('bg-red-100', 'border-red-500');
                        </script>
                        {% for error in field.errors %}
                            <p class="form-field-error text-xs text-red-500">{{ error }}.</p>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        {% endfor %}

        <input type="submit" value="Update"
               class="
               float-right mt-9 px-9 py-2
               shadow-md cursor-pointer
               rounded-full bg-blue-400
               text-white font-medium
               transition-all duration-300
               focus:outline-none
               focus:ring-2
               focus:ring-offset-2
               focus:ring-blue-400
               hover:bg-blue-500">
    </form>

    <style>
        .filepond--root,
        .filepond--root .filepond--drop-label {
          height: 150px !important;
          width: 150px !important;
          margin: auto;
        }

        :root {
          --width: 35px;
          --height: 20px;
          --radius: 30px;

          --track: 1px;
          --border-color: rgba(0,0,0,0.15);
          --bg-active-color: rgba(100, 245, 100);

          --duration: .45s;
        }


        .switch {
          display: flex;
          justify-content: start;
          align-items: center;
          gap: 10px;
        }

        .switch-title {
          user-select: none;
          color: black;
          font-family: 'Roboto';
        }

        .switch-delegate  {
          transition: all var(--duration) ease-in-out;
          position: relative;
          display: block;

          width: var(--width);
          height: var(--height);

          background: #fff;
          border: 1px solid var(--border-color);
          border-radius: var(--radius);
        }

        .switch-delegate::after {
          content: '';

          position: absolute;
          top: 0;
          left: 0;

          width: calc(var(--height) - var(--track) + 1px);
          height: calc(var(--height));

          top: 50%;
          left: -1px;
          transform: translatey(-50%);

          transition: all var(--duration) ease-in-out;
          box-shadow: 2px 2px 10px 0 rgba(0,0,0,0.10);

          background: #fff;
          border: 1px solid var(--border-color);
          border-radius: var(--radius);
        }


        .switch-checkbox {
          position: absolute;
          visibility: hidden;
          display: none;
        }
        .switch-checkbox:checked + .switch-delegate {
          background: var(--bg-active-color);
          border-color: transparent;
        }
        .switch-checkbox:checked + .switch-delegate::after {
          border-color: transparent;

          left: calc(var(--width) - var(--height) - 1px);

          width: calc(var(--width) - var(--height) + 4px);
          height: calc(var(--height) - 2px);


          box-shadow: -2px 2px 18px 0 rgba(0,0,0,0.35);
        }

    </style>


    <!--  FilePond CSS  -->
    <script src="{{ url_for('static', filename='libraries/filepond/filepond-plugin-file-validate-type.js') }}"></script>
    <script src="{{ url_for('static', filename='libraries/filepond/filepond-plugin-file-metadata.js') }}"></script>

    <!--  FilePondPluginImagePreview  -->
    <link href="{{ url_for('static', filename='libraries/filepond/filepond-plugin-image-preview.css') }}" rel="stylesheet"/>
    <script src="{{ url_for('static', filename='libraries/filepond/filepond-plugin-image-preview.min.js') }}"></script>

    <!--  FilePond Base  -->
    <link href="{{ url_for('static', filename='libraries/filepond/filepond.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='libraries/filepond/filepond.js') }}"></script>


    <script>
        // Turn all file input elements into ponds
        FilePond.registerPlugin(
            FilePondPluginFileValidateType,
            FilePondPluginImagePreview,
            FilePondPluginFileMetadata,
        );

        FilePond.setOptions({
            server: {
                load: './',
                process: null,
            },
        });

        pond = FilePond.create(document.querySelector('input[type="file"]'), {
            acceptedFileTypes: ['image/png'],

            instantUpload: false,
            allowMultiple: false,

            imagePreviewMaxHeight: 100,
            imagePreviewHeight: 100,
			imageCropAspectRatio: '1:1',
			imageResizeTargetWidth: 200,
			imageResizeTargetHeight: 200,

            stylePanelLayout: 'compact circle',
            styleButtonRemoveItemPosition: 'center bottom',

            allowImageEdit: true,
            imageEditAllowEdit: true,
            styleImageEditButtonEditItemPosition: 'bottom right',
            imageCropAspectRatio: 1,
            imageResizeTargetWidth: 200,

            files: [
                {
                    // the server file reference
                    source: '{{ url_for('static', filename=extract_avatar_url(current_user.avatar_url)) }}',

                    // set type to local to indicate an already uploaded file
                    options: {
                        type: 'local',
                        metadata: {
                            'isTemp': 'true',
                        }
                    }
                }
            ]
        });


        $('#profile-form').submit((e) => {
            e.preventDefault();

            // initializing form data object
            formData = new FormData(e.target);


            // getting filepond file data
            pondFiles = pond.getFiles();
            if (pondFiles.length) {
                isTemp = pondFiles[0].getMetadata()?.isTemp;

                if (!isTemp) {
                    formData.set('avatar', pondFiles[0].file);
                } else {
                    // deleting the 'avatar' field to prevent updating
                    formData.delete('avatar');
                }
            }
            else {
                formData.set('avatar', 'null');
            }


            axios.post(e.target.action, formData)
                .then(res => {
                    replaceContent(res);
                })
                .catch(err => {
                    showToast(err.response.data.message, 'error');
                    console.log(err);
                });
        });
    </script>


{% endblock %}
