@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .btn {
    @apply focus:outline-none;
  }
}


@font-face {
    src: url('./fonts/Roboto/Roboto-Regular.ttf');
    font-family: 'Roboto';
}
@font-face {
  src: url('./fonts/australia-font/Australia-X3qGo.otf');
  font-family: Australia;
}

@font-face {
  src: url('./fonts/quick-kiss-font/QuickKissPersonalUse-PxlZ.ttf');
  font-family: QuickKiss;
}
@font-face {
  src: url('./fonts/countryside-font/Countryside-YdKj.ttf');
  font-family: Countryside;
}
@font-face {
  src: url('./fonts/brightons-font/Brightons-OVOro.otf');
  font-family: Brightons;
}
@font-face {
  src: url('./fonts/cinderela-font/CinderelaPersonalUseRegular-RDvM.ttf');
  font-family: Cinderela;
}
@font-face {
  src: url('./fonts/onelove-font/OneloveFreeForPersonalUse-6Yx5g.ttf');
  font-family: Onelove;
}




html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    /*font-family: SF;*/
    /*font-family: Inter;*/
}

body {
    width: 100%;
    height: 100%;
    background: #fff;
}

#root {
    min-height: 100vh;
    background: #f8f8f8;

    display: flex;
    flex-direction: column;
}
@media (max-height: 400px) {
    #root {
        min-height: unset;
    }
}


.container {
    max-width: 1280px;
    min-width: 710px;
    margin: 0 auto;

    border: 1px solid #eee;
}
/* @media (max-width: 1279px) {
    .container {
        width: 100vw;
    }
} */


#main {
    border-top: none;
    border-bottom: none;
}

#header {
    min-height: 90px;
    padding: 0;
}
#root.sticky #header {
    position: sticky;
    z-index: 1;
}

#header #header-bg {

}
#header #header-bg a {
    font-family: system-ui;
    font-weight: 900;
}


#header #nav {

}
#root.sticky #header #nav {
    backdrop-filter: blur(20px) saturate(180%);
    /*box-shadow: 0 1px 24px 0 rgba(0,0,0,0.15);*/
}


#footer {

}


