{% extends 'user.html' %}
{% block title %}
  {% if form._model %}
    Chỉnh sửa thông tin đợt tuyển sinh
  {% else %}
    Thêm Đợt tuyển sinh
  {% endif %}
{% endblock title %}



{% block begin_body %}
  <script>
    Alpine.data('form', () => ({
      submit() {
        const form = document.getElementById('admission-add-form');
        if (form.reportValidity()) {
          form.submit();
        }
      },
    }));
  </script>
{% endblock %}


{% block header_actions %}
  <button type="submit" @click="submit()" x-data="form"
    class="hover:bg-gray-200 p-2 px-4 flex items-center cursor-pointer h-full" data-tippy-content="Lưu">
    <img src="{{ url_for('static', filename='icons/fluent/outline/checkmark.svg') }}" class="w-5">
  </button>
{% endblock %}



{% block content %}
<form action="" method="post" class="" id="admission-add-form">
  {{ form.csrf_token }}

  <div class="form-fields">
    {% for field in form if field.name != 'csrf_token' %}
      {{ form_field(field) }}
    {% endfor %}
  </div>
</form>
{{ ckeditor.load(pkg_type="full") }}

<style>
  .form-fields {
    display: grid;
    gap: 20px;
  }
  @media (min-width: 768px) {
    .form-fields {
      grid-template-areas:
      "first first"
      "second third"
      "fourth fifth"
      "sixth sixth"
    }
  }

  .form-fields .form-field:nth-of-type(1) {
    grid-area: first;
  }
  .form-fields .form-field:nth-of-type(2) {
    grid-area: second;
  }
  .form-fields .form-field:nth-of-type(3) {
    grid-area: third;
  }
  .form-fields .form-field:nth-of-type(4) {
    grid-area: fourth;
  }
  .form-fields .form-field:nth-of-type(5) {
    grid-area: fifth;
  }
  .form-fields .form-field:nth-of-type(6) {
    grid-area: sixth;
  }
</style>

<script src="https://cdn.jsdelivr.net/npm/autonumeric@4.5.4"></script>
<script>
  anElement = new AutoNumeric('input[name=rose]', {
    currencySymbol: ' VNĐ',
    currencySymbolPlacement: 's',
    decimalPlaces: '0',
    minimumValue: 0,
  });
</script>
{% endblock content %}
