{% extends 'user.html' %}
{% block title %}
  {{ title or 'Chờ duyệt' }}
{% endblock title %} 


{% block header_actions %}

{% endblock %}


{% block begin_body %}
  <script>
    Alpine.data('tableData', () => ({
      onCheckboxChange(e) {
        console.log(e.target.name);
      },
    }));
  </script>
{% endblock begin_body %}


{% block content %}
  <form action="" method="post" x-data="tableData" class="relative mb-10" id="users-form">

    <table class="rounded-md border border-collapse border-gray-300 max-h-screen relative w-full">
      <thead class=" bg-primary text-white font-medium sticky top-12 z-10 table-fixed">
        <tr class="p-5">
          <td class="text-center px-2 py-2 border-r border-gray-300">
            <input type="checkbox" data-tippy-content="Chọn/Bỏ chọn tất cả dòng đang hiển thị">
          </td>
          <td class="text-left px-3 py-2 border-r border-gray-300">Họ và tên</td>
          <td class="text-left px-3 py-2 border-r border-gray-300">Tên tổ chức</td>
          <td class="text-left px-3 py-2 border-r border-gray-300">Email</td>
          <td class="text-left px-3 py-2 border-r border-gray-300">Số điện thoại</td>
          <td class="text-left px-3 py-2 border-r border-gray-300">Tên chiến dịch</td>
          <td class="text-center px-2 py-2 border-r border-gray-300">#</td>
        </tr>
      </thead>
  
      <tbody>
      {% for presenter in presenters.items %}
        <tr class="{% if loop.index % 2 == 0 %} bg-primary bg-opacity-10 {% endif %} hover:bg-blue-200 border-b border-gray-300 text-sm">
          <td class="text-center py-2 border-r border-gray-300 font-bold">
            <input type="checkbox" name="presenter-id" value="{{ presenter.id }}" @change="onCheckboxChange">
          </td>
          <td class="py-2 px-3 border-r border-gray-300"><a href="{{ url_for('user.detail', id=presenter.user_id) }}" class="font-bold">{{ presenter.user.full_name }}</a></td>
          <td class="py-2 px-3 border-r border-gray-300">{{ presenter.user.organization_name }}</td>
          <td class="py-2 px-3 border-r border-gray-300">{{ presenter.user.email }}</td>
          <td class="py-2 px-3 border-r border-gray-300">{{ presenter.user.phone_number }}</td>
          <td class="py-2 px-3 border-r border-gray-300"><a href="{{ url_for('admission.detail', id=presenter.admission_id) }}" class="font-bold">{{ presenter.admission.name }}</a></td>
          <td class="text-center py-2 border-r border-gray-300 relative flex justify-center items-center" x-data="{ open: false }">
            <a @click="open = !open" class="hover:bg-gray-400 rounded-full p-1 cursor-pointer select-none">
              <img src="{{ url_for('static', filename='icons/fluent/outline/more_horizontal.svg') }}" class="w-6">
            </a>
  
            <!-- menu -->
            <div
              x-show="open" x-transition.origin.top.right @click.outside="open = false"
              class="absolute z-10 right-4 top-full w-max py-2 rounded shadow-lg flex flex-col gap-2 bg-white bg-opacity-25 backdrop-blur-md border border-gray-300">
              <a href="{{ url_for('user.detail', id=presenter.user_id) }}" class="flex items-center gap-2 py-1 px-2 hover:bg-gray-300">
                <img src="{{ url_for('static', filename='icons/fluent/outline/eye_show.svg') }}" class="w-5">
                <span class="text-sm">Xem chi tiết profile</span>
              </a>
  
              <a href="{{ url_for('admission.approve_envoy', admission_id=presenter.admission_id, envoy_id=presenter.user_id) }}"
                class="flex items-center gap-2 py-1 px-2 hover:bg-gray-300">
                <img src="{{ url_for('static', filename='icons/outline/checkmark-outline.svg') }}" class="w-5">
                <span class="text-sm">Chấp thuận</span>
              </a>
              <a href="{{ url_for('admission.unapprove_envoy', admission_id=presenter.admission_id, envoy_id=presenter.user_id) }}"
                class="flex items-center gap-2 py-1 px-2 hover:bg-gray-300">
                <img src="{{ url_for('static', filename='icons/outline/close-outline.svg') }}" class="w-5">
                <span class="text-sm">Từ chối</span>
              </a>
            </div> <!-- menu -->
          </td>
        </tr>
      {% else %}
        <tr class="bg-white">
          <td class="bg-white p-3" colspan="7">Chưa có thông tin.</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    
    <div class="flex mt-5">
      {{ paginator(presenters, route='admission.waiting') }}
    </div>

    <!-- row select bubble -->
    <!-- <div x-show="checkboxChecked.length > 0" x.transition.scale.origin.bottom.center
      class="fixed bottom-4 right-4 max-w-md py-3 px-4 bg-white shadow-xl rounded border border-gray-200 flex justify-between gap-5">
      <span class="border-r border-gray-300 pr-5">Đã chọn <span x-text="checkboxChecked.length"></span> mục</span>
      <div class="flex items-center gap-2">
        <button type="submit">Khóa tài khoản</button>
        <button type="submit">Xóa tài khoản</button>
      </div>
    </div> -->
  </form>
{% endblock content %}
