{% extends "user.html" %}

{% block title %}Dashboard{% endblock title %}

{% block content %}

    <div class="flex flex-col justify-between items-center relative gap-y-3.5">
        <form method="post" action="{{ url_for('auth.logout') }}">
            <button type="submit"  class="
            shadow-xl text-white font-bold btn
            bg-primary-dark
            rounded-full px-9 py-3
            focus:outline-none
            focus:ring-2
            focus:ring-offset-2
            focus:ring-indigo-500">
            Đăng xuất
            </button>
        </form>
    </div>

{% endblock %}
