<!-- left side - the main menu -->
{% include "components/navbar/left-side/menu.html" %}



<!-- right side (user dropdown, addnew, notifications...) -->
<div class="nav-right-side flex justify-between items-center gap-2 xs:gap-5">

    <!-- unauthenticated area -->
    {% if not vm.user.is_authenticated %}
        <a href="{{ url_for('auth.login') }}"
           style="{% if url_for(request.endpoint) == '/login' %}display: none; {% endif %}"
           class="font-semibold">
            Login
        </a>

        <a href="{{ url_for('auth.signup') }}"
           style="{% if url_for(request.endpoint) == '/signup' %}display: none; {% endif %}"
           class="flex justify-center items-center
           bg-blue-400 text-white font-semibold capitalize
           rounded-md px-6 py-2 shadow
           btn
           focus:ring-2
           focus:ring-offset-2
           focus:ring-blue-300">
            Create account
        </a>


    {% else %}
    <!-- authenticated area -->

    
        <!-- add new area -->
        {% include "components/navbar/right-side/addnew-dropdown.html" %}


        <!-- search box -->
        {% include "components/navbar/right-side/search-box.html" %}


        <!-- notification area -->
        {% include "components/navbar/right-side/notifications-dropdown.html" %}


        <!-- user dropdown menu area -->
        {% include "components/navbar/right-side/user-dropdown.html" %}

    {% endif %}
</div>
