#header {
  transition: all .45s;

  #btn-header {
    opacity: 0;
    visibility: hidden;
    transform: translatey(100px);
  }

  &[scrolled] {
    background-color: #fff;
    box-shadow: 0 3px 24px 0 rgba(0, 0, 0, 0.1);

    .btn {
      border: 1.5px solid #eee;
    }

    #btn-header {
      opacity: 1;
      visibility: visible;
      transform: translatey(0);
    }
  }
}

/* #lobby {
  .container {

    .plate {
      position: relative;
      &::before, &::after {
        content: "";
        position: absolute;
        top: 0;
        height: 100%;
        width: 60px;
        left: -60px;
        background-color: #fff;
      }

      &::after {
        left: unset;
        right: -60px;
      }
    }
  }
} */
