#header {
  transition: background-color .45s;
  box-shadow: 0 3px 24px 0 rgba(0, 0, 0, 0.1);

  #btn-header {
    opacity: 0;
    visibility: hidden;
    transform: translatey(100px);
    display: none;
  }

  &[scrolled] {
    background-color: #fff;

    .btn {
      border: 1.5px solid #eee;
    }

    #btn-header {
      opacity: 1;
      visibility: visible;
      transform: translatey(0);
      transition: all .45s;
    }
  }
}

/* #lobby {
  .container {

    .plate {
      position: relative;
      &::before, &::after {
        content: "";
        position: absolute;
        top: 0;
        height: 100%;
        width: 60px;
        left: -60px;
        background-color: #fff;
      }

      &::after {
        left: unset;
        right: -60px;
      }
    }
  }
} */
