{% extends "landing.html" %}
{% block title %}
  Đăng nhập
{% endblock title %}


{% block content %}
    <div class="container pt-20 pt-32">
      <div class="inline-flex flex-col">
        <h1 class="text-xl lg:text-3xl font-bold leading-tight">Đăng nhập Cổng thông tin Đại sứ BVU<span class="hidden md:inline-block font-black text-5xl text-primary">.</span>
        </h1>
        <h1 class="py-3">Chưa có tài khoản?
            <a href="{{ url_for('auth.register') }}" class="link text-primary font-semibold">Đăng ký.</a>
        </h1>
      </div>
  
      <form action="" method="post"
          x-data="loginForm()" x-init="init()"
          id="login-form"
          class="py-5 max-w-lg">
  
          {{ form.csrf_token }}
          {% for field in form if field.name != 'csrf_token' and field.name != 'remember' %}
              <div class="form-field py-2">
  
                  <!-- form-field-label -->
                  <div class="form-field-label pb-0.5 text-gray-700">{{ field.label(class="text-sm font-medium") }}</div>
  
                  <!-- .form-field-container -->
                  <div class="form-field-container relative" data-name="{{ field.name }}">
                      <div class="form-field-prefix absolute rounded-l
                                  flex justify-center items-center
                                  text-gray-400 h-8 w-8 top-1/2 left-2 -translate-y-1/2"
                          style="padding: 0.39rem">
  
                          <img src="{{ url_for('static', filename=field.description.icon.get('origin', '')) }}"
                              style="filter: invert(0.5); user-select: none;"
                              data-original-icon="{{ url_for('static', filename=field.description.icon.get('origin', '')) }}"
                              data-alternate-icon="{{ url_for('static', filename=field.description.icon.get('alternate', '')) }}">
                      </div>
                      {{ field(class="text-field",) }}
                  </div>
  
                  <!-- .form-field-errors-container -->
                  <div class="form-field-errors-container pt-2">
                      {% if field.errors %}
                          <script>
                              // adding the following error style classes to the input's class attribute
                              document.getElementById('{{ field.id }}').classList.add('bg-red-100', 'border-red-500');
                          </script>
                          {% for error in field.errors %}
                              <p class="form-field-error text-xs text-red-500">{{ error }}.</p>
                          {% endfor %}
                      {% endif %}
                  </div>
  
              </div> <!-- .form-field -->
          {% endfor %}
  
          <div class="form-field py-2 mt-3 flex justify-between items-start gap-2">
              <div class="pretty p-icon p-round">
                <input type="checkbox" name="remember" autocomplete="off" />
                <div class="state p-success">
                    <i class="icon mdi mdi-check"></i>
                    <label>Ghi nhớ</label>
                </div>
              </div>
  
              <div class="form-forgot-password">
                  <span class="hidden sm:inline-block">Quên mật khẩu?</span>
                  <a href="{{ url_for('auth.reset_password') }}" class="link text-primary font-semibold">
                    Reset mật khẩu.
                  </a>
              </div>
          </div>
  
          <button type="submit"
                   class="
                   flex justify-between items-center
                   relative overflow-hidden cursor-pointer
                   mx-auto mt-7 w-full py-4 bg-primary btn btn-highlight
                   text-white font-medium
                   transition-all duration-300
                   focus:outline-none
                   focus:ring-2 focus:ring-offset-2 focus:ring-blue-400
                   hover:bg-primary-dark">
    
                <span class="flex-auto text-lg">Đăng nhập</span>
            </button>
      </form>
    </div>
    

    <!-- alpinejs data -->
    <script>
      function loginForm() {
        return {
          _email: '',

          init() {
            this.$watch('_email', (value) => {
              this.checkEmailExist(value);
            });
          },
          checkEmailExist(value) {
            console.log(document.getElementById('email').validity);

            if (!document.getElementById('email').validity.typeMismatch) {
              checkEmailFormData = new FormData();
              checkEmailFormData.append('email', value);
  
              axios.post('/check-email', checkEmailFormData)
                .then(res => {
                  console.log(res);
                  document.getElementById('email').setCustomValidity('');
                })
                .catch(err => {
                  console.log(err);
                  document.getElementById('email').setCustomValidity('The email is not registered');
                });
            }
          }
        };
      }
    </script>


    <script>
      passwordFieldsQuery = '#login-form .form-field .form-field-container[data-name*="password"] .form-field-prefix';
      passwordFields = $(passwordFieldsQuery);
      $(passwordFields).addClass('cursor-pointer');


      // binding the click event foreach password-like field
      $(passwordFields).each(function(index, elem) {
          $(this).click(function(e) {
              const theInput = $(this).next();

              const theImage = $(this).find('> img');
              const imageDefaultIcon = $(theImage).attr('data-original-icon');
              const imageAlternateIcon = $(theImage).attr('data-alternate-icon');
  
              if ($(theInput).attr('type') == 'text') {
                  $(theInput).attr('type', 'password');
                  $(theImage).attr('src', imageDefaultIcon);
              } else {
                  $(theInput).attr('type', 'text');
                  $(theImage).attr('src', imageAlternateIcon);
              }
          });
      });
    </script>


    <style>
    </style>

{% endblock %}
