{% extends "base.html" %}

{% block content %}
    {{ center_main() }}

    <form action="" method="post"
        id="signup-form"
        class="py-5 px-9 rounded-md ajax"
        style="min-width: 350px; box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;">

        {{ form.csrf_token }}


        {% for field in form if field.name != 'csrf_token' %}
        <div class="form-field py-2">

            <!-- .form-field-label -->
            <div class="form-field-label pb-0.5 text-gray-700">{{ field.label(class="text-sm font-medium") }}</div>

            <!-- .form-field-container -->
            <div class="form-field-container relative" data-name="{{ field.name }}">
                <!-- prefix -->
                <div class="form-field-prefix absolute rounded-l
                            flex justify-center items-center
                            text-gray-400 h-8 w-8"
                    style="top: 1.85px; left: 1.75px; padding: 0.39rem">
                    <!-- icon -->
                    <img src="{{ url_for('static', filename=field.description.icon.get('origin', '')) }}"
                        style="filter: invert(0.5); user-select: none;"
                        data-original-icon="{{ url_for('static', filename=field.description.icon.get('origin', '')) }}"
                        data-alternate-icon="{{ url_for('static', filename=field.description.icon.get('alternate', '')) }}">
                </div>

                <!-- the field -->
                {{
                    field(
                        class_="
                        bg-transparent rounded-md
                        transition duration-300
                        w-full py-1 px-2 pl-8
                        border-2 border-gray-150
                        hover:bg-gray-100
                        focus:outline-none
                        focus:border-blue-400
                        focus:bg-white"
                    )
                }}
            </div>

            <!-- .form-field-errors-container -->
            <div class="form-field-errors-container">
                {% if field.errors %}
                    <script>
                        // adding the following error style classes to the input's class attribute
                        document.getElementById('{{ field.id }}').classList.add('bg-red-100', 'border-red-500');
                    </script>
                    {% for error in field.errors %}
                        <p class="form-field-error text-xs text-red-500">{{ error }}.</p>
                    {% endfor %}
                {% endif %}
            </div>

        </div> <!-- form-field -->
        {% endfor %}

        <button type="submit"
               class="
               flex justify-between items-center
               relative overflow-hidden cursor-pointer
               mx-auto mt-9 w-full
               rounded-md bg-gray-200
               text-gray-700 font-medium
               transition-all duration-300
               focus:outline-none
               focus:ring-2 focus:ring-offset-2 focus:ring-blue-400
               hover:bg-gray-300">

            <span class="flex-auto">Register</span>
            <span class="h-full p-2 bg-blue-500 text-white flex justify-center items-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                </svg>
            </span>
        </button>
    </form>


    <style>
    </style>


    <script>
        passwordFieldsQuery = '#signup-form .form-field .form-field-container[data-name*="password"] .form-field-prefix';
        passwordFields = $(passwordFieldsQuery);
        $(passwordFields).addClass('cursor-pointer');


        // binding the click event foreach password-like field
        $(passwordFields).each(function(index, elem) {
            $(this).click(function(e) {
                const theInput = $(this).next();

                const theImage = $(this).find('> img');
                const imageDefaultIcon = $(theImage).attr('data-original-icon');
                const imageAlternateIcon = $(theImage).attr('data-alternate-icon');
    
                if ($(theInput).attr('type') == 'text') {
                    $(theInput).attr('type', 'password');
                    $(theImage).attr('src', imageDefaultIcon);
                } else {
                    $(theInput).attr('type', 'text');
                    $(theImage).attr('src', imageAlternateIcon);
                }
            });
        });


        // adding password matching validation to the re_password field
        document.getElementById('re_password').addEventListener('input', function(e) {
            const passwordValue = $('#password').val();

            if (e.target.value != passwordValue) {
                e.target.setCustomValidity('This field must match with the Password field');
            } else {
                e.target.setCustomValidity('');
            }
        });
    </script>

{% endblock %}

