{% extends "landing.html" %}
{% block title %}Đăng ký{% endblock title %}


{% block content %}
    <div class="container py-20 pt-24">

        <div class="inline-flex flex-col">
            <h1 class="text-xl lg:text-3xl font-bold leading-tight">Đăng ký trở thành Đại sứ BVU<span class="hidden md:inline-block font-black text-5xl text-primary">.</span>
            </h1>
            <h1 class="py-3">Đã có tài khoản?
                <a href="{{ url_for('auth.login') }}" class="link text-primary font-semibold">Đăng nhập.</a>
            </h1>
        </div>


        <!-- NORMAL SIGNUP -->
        <form action="" method="post" id="signup-form" data-envoy-id=1
            class="rounded-md max-w-full flex flex-col">
            {{ form.csrf_token }}

            <!-- RENDER ENVOY TYPE INPUTS OUTSIDE TO HANDLE CHECKING/SHOWING RESPECTIVELY LOGIN OPTIONS -->

            <div class="envoy-types-container flex flex-col pt-5 pb-10">
                <h1 class="py-3 font-semibold">Bạn là ai?</h1>
                {% for subfield in form['envoy_type'] %}
                    <div class="pb-1">
                        <div class="pretty p-icon p-round p-smooth">
                            {{ subfield }}
                            <div class="state p-success">
                                <i class="icon mdi mdi-check"></i>
                                {{ subfield.label(class='select-none font-light cursor-pointer inline-block hover:text-primary') }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            
            <!-- FORM FIELDS / ENVOY TYPE IS ORGANIZATION/HIGHSCHOOL.. -->
            <div class="signup-option form-fields" data-envoy-type=0>
                {% for field in form if (field.name != 'csrf_token' and field.name != 'envoy_type' and field.name != 'verification_code') %}
                <div class="form-field py-2">
        
                    <!-- .form-field-label -->
                    <div class="form-field-label pb-0.5 text-gray-700 {% if field.flags.required %}required{% endif %}">
                        <div class="flex justify-between items-center">
                            {{ field.label(class="text-sm font-medium") }}
                            {% if field.description is mapping and field.description['tooltip'] != None and field.description['tooltip'] != '' %}
                                <img src="{{ url_for('static', filename='icons/outline/help-circle-outline.svg') }}" alt=""
                                class="w-4 text-gray-300 cursor-pointer" data-tippy-content="{{ field.description['tooltip'] }}">
                            {% endif %}
                        </div>
                    </div>
        
                    <!-- .form-field-container -->
                    <div class="form-field-container relative" data-name="{{ field.name }}">

                        {% if field.description is mapping and field.description.icon != None  %}
                            <!-- prefix -->
                            <div class="form-field-prefix absolute rounded-l
                                        flex justify-center items-center
                                        text-gray-400 h-10 w-10 top-1/2 left-1 -translate-y-1/2"
                                style="padding: 0.39rem">
                                <!-- icon -->
                                <img src="{{ url_for('static', filename=field.description.icon.get('origin', '')) }}"
                                    style="filter: invert(0.5); user-select: none;"
                                    data-original-icon="{{ url_for('static', filename=field.description.icon.get('origin', '')) }}"
                                    data-alternate-icon="{{ url_for('static', filename=field.description.icon.get('alternate', '')) }}">
                            </div>
                        {% endif %}

        
                        <!-- the field -->
                        {% if field.description is mapping and field.description.icon != None %}
                            {{ field(class="text-field has-icon") }}
                        {% else %}
                            {{ field(class="text-field") }}
                        {% endif %}
                    </div>
        
                    <!-- .form-field-errors-container -->
                    <div class="form-field-errors-container pt-2">
                        {% if field.errors %}
                            <script>
                                // adding the following error style classes to the input's class attribute
                                document.getElementById('{{ field.id }}').classList.add('bg-red-100', 'border-red-500');
                            </script>
                            {% for error in field.errors %}
                                <p class="form-field-error text-xs text-red-500">{{ error }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
        
                </div> <!-- form-field -->
                {% endfor %}


                <button type="submit"
                    class="
                    flex justify-center items-center gap-3
                    relative overflow-hidden cursor-pointer
                    mx-auto my-4 w-full py-5 bg-primary btn btn-highlight
                    text-white font-medium
                    transition-all duration-300
                    focus:outline-none
                    focus:ring-2 focus:ring-offset-2 focus:ring-blue-400
                    hover:bg-primary-dark">
        
                    <span class="flex text-lg">Tiếp tục</span>
                    <img src="{{ url_for('static', filename='icons/outline/arrow-forward-outline.svg') }}" alt="" class="w-5 invert">
                </button>
            </div>


            <!-- MICROSOFT SIGNUP -->
            <a href="{{ url_for('auth.login') }}" data-envoy-type=1
                class="signup-option w-fit items-center rounded gap-2 inline-flex p-3 text-gray-700 border border-gray-300 bg-gray-100 hover:bg-gray-200">
                <img src="{{ url_for('static', filename='icons/microsoft.svg') }}" alt="">
                <span class="font-semibold">Đăng ký bằng tài khoản email Microsoft được cấp</span>
            </a>
        </form>
    </div>

    <style>
        #signup-form .form-fields {
            display: grid;
            column-gap: 20px;
            align-items: start;
            grid-template-areas:
            "organizationName"
            "organizationRepresenterPersonName"
            "organizationTaxId"
            "citizenId"
            "address"
            "email"
            "phone"
            "submitBtn";
        }
        @media (min-width: 768px) {
            #signup-form .form-fields {
                grid-template-areas:
                "organizationName organizationRepresenterPersonName organizationTaxId"
                "citizenId email phone"
                "address address address"
                ". . submitBtn";
            }
            #signup-form .form-fields button {
                grid-column: 2 / span 1;
            }
        }

        #signup-form .form-fields .form-field:nth-of-type(1) {
            grid-area: organizationName;
        }
        #signup-form .form-fields .form-field:nth-of-type(2) {
            grid-area: organizationRepresenterPersonName;
        }
        #signup-form .form-fields .form-field:nth-of-type(3) {
            grid-area: organizationTaxId;
        }
        #signup-form .form-fields .form-field:nth-of-type(4) {
            grid-area: citizenId;
        }
        #signup-form .form-fields .form-field:nth-of-type(5) {
            grid-area: email;
        }
        #signup-form .form-fields .form-field:nth-of-type(6) {
            grid-area: phone;
        }
        #signup-form .form-fields .form-field:nth-of-type(7) {
            grid-area: address;
        }
        #signup-form .form-fields button {
            grid-area: submitBtn;
        }

        .form-field-label.required label {
            display: inline-block;
            position: relative;
        }
        .form-field-label.required label + img {
            display: inline-block;
            position: relative;
        }
        .form-field-label.required label::after {
            content: "*";
            font-size: 1em;
            padding-left: 5px;
            color: red;
        }
    </style>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            // handle input change
            $("input[name='envoy_type']").change(function(e) {
                const envoyType = $(this).attr('id').split('-')[1];
                toggleSignupOption(envoyType);
            });

            // handle on page load
            $(`.signup-option`).hide();
            try {
                const envoyType = $("input[name='envoy_type']:checked").attr('id').split('-')[1];
                toggleSignupOption(envoyType);
            } catch (e) {
                // no checked envoy type
            }
        });

        function toggleSignupOption(envoyType) {
            $(`.signup-option`).hide();
            $(`.signup-option[data-envoy-type=${envoyType}]`).show();
        }
    </script>

{% endblock %}
