<!-- left side - the main menu -->
{% include "components/navbar/left-side/mobile-menu.html" %}


<!-- wide-screen menu (640px <= ) -->
<div class="hidden nav-left-side md:flex items-stretch">
    {% for item in vm.nav_items %}
        <a
            href="{{ item.href }}"
            class="px-3 py-4 ajax
            text-sm font-semibold text-gray-300
            flex justify-center items-center gap-2
            transition duration-300
            hover:bg-gray-100
            hover:text-black
            {%- if item.is_active %}
                active border-b-2 border-blue-400 text-blue-500
            {%- endif -%}">

            <!-- <span class="w-3 h-3">
                <img src="{{ url_for('static', filename=item.icon.original) }}">
            </span> -->

            {{ item.title }}
        </a>
    {% endfor %}
</div>
