{% extends "base.html" %}

{% block content %}

    {% if not current_user.is_authenticated %}
        <div class="flex flex-col justify-between items-center relative gap-y-3.5">

            <a href="/signup" class="
                shadow-xl text-white font-bold btn
                bg-primary-dark
                rounded-full px-9 py-3
                focus:outline-none
                focus:ring-2
                focus:ring-offset-2
                focus:ring-indigo-500">
                Đăng ký trở thành đại sứ ngay
            </a>
        </div>
    {% else %}


    {% endif %} <!-- check user logged in -->

{% endblock %}
