{% extends "user.html" %}

{% block title %}
    {% if current_user.id == user.id %}
        Hồ sơ của tôi
    {% else %}
        Profile người dùng
    {% endif %}
{% endblock title %}



{% block header_actions %}
    {% if current_user.role.id == 1 %} 
    {# chỉ cho user admin hiển thị nút chỉnh sửa/activate/deactivate (mặc dù đã chặn quyền trong python) #}
        <!-- mark done/revoke -->
            {% if not user.activated %}
            <a href="{{ url_for('user.activate', id=user.id) }}"
                class="hover:bg-gray-200 p-2 px-4 flex items-center cursor-pointer h-full" data-tippy-content="Kích hoạt">
                <img src="{{ url_for('static', filename='icons/fluent/outline/shield_checkmark.svg') }}" class="w-6">
            </a>
            {% else %}
            <a href="{{ url_for('user.deactivate', id=user.id) }}"
                class="hover:bg-gray-200 p-2 px-4 flex items-center cursor-pointer h-full" data-tippy-content="Khóa tài khoản">
                <img src="{{ url_for('static', filename='icons/fluent/outline/shield_locked.svg') }}" class="w-6">
            </a>
        {% endif %}

        <!-- edit -->
        <a href="{{ url_for('user.edit', id=user.id) }}"
            class="hover:bg-gray-200 p-2 px-4 flex items-center cursor-pointer h-full" data-tippy-content="Sửa thông tin">
            <img src="{{ url_for('static', filename='icons/fluent/outline/text_edit_style.svg') }}" class="w-5">
        </a>
    {% endif %}
{% endblock %}


{% block content %}

<div class="flex gap-6">
    <img src="{{ url_for('auth.static', filename='default_user.jpg') }}" class="w-40 border border-gray-200 rounded  ">

    <!-- meta -->
    <div class="flex flex-col">
        <p class="flex items-center gap-5 mb-4">
            <span class="text-2xl font-bold text-primary">{{ user.full_name }}</span>
            <span class="rounded-full px-5 py-1.5 shadow-lg bg-white text-sm font-semibold">{{ user.role.name }}</span>
        </p>

        <div class="flex justify-between gap-10">
            <div class="flex flex-col gap-1">
                <p class="flex">
                    <span class="font-normal">Ngày tham gia:</span>&nbsp;<span class="font-bold">{{ user.verified_time or '<Đang chờ xác thực>' }}</span>
                </p>
                <p class="flex">
                    <span class="font-normal">Số điện thoại:</span>&nbsp;<span class="font-bold">{{ user.phone_number }}</span>
                </p>
                <p class="flex">
                    <span class="font-normal">Email:</span>&nbsp;<span class="font-bold">{{ user.email }}</span>
                </p>
                <p class="flex">
                    <span class="font-normal">Địa chỉ:</span>&nbsp;<span class="font-bold">{{ user.address or '' }}</span>
                </p>
            </div>
    
            {% if user.role.code == 'envoy' %}
                <!-- envoy detail meta -->
                <div class="flex flex-col gap-1">
                    <p class="flex">
                        <span class="font-normal">Tên tổ chức:</span>&nbsp;<span class="font-bold">{{ user.organization_name }}</span>
                    </p>
                    <p class="flex">
                        <span class="font-normal">Mã số thuế:</span>&nbsp;<span class="font-bold">{{ user.organization_tax_id }}</span>
                    </p>
                    <p class="flex">
                        <span class="font-normal">Số CMND/CCCD:</span>&nbsp;<span class="font-bold">{{ user.citizen_id }}</span>
                    </p>
                    <!-- <p class="flex">
                        <span class="font-normal">Địa chỉ:</span>&nbsp;<span class="font-bold">{{ user.address or '' }}</span>
                    </p> -->
                </div>
            {% endif %}
        </div>
    </div>
</div>

{% include 'profile-detail-envoy.html' %}

{% endblock %}
